;; shadow-cljs configuration
{:source-paths ["src/dev"
                "src/main"
                "src/test"]

 :dependencies []

 :nrepl {:port 9000
         :host "0.0.0.0"}

 :socket-repl {:port 9001
               :host "0.0.0.0"}

 :builds {:frontend
          {:target :browser
           :modules {:main {:init-fn tetris.app/init}}
           :devtools {:http-root "public"
                      :http-port 3000
                      :hud true}}}}
