[{:module-id :main, :name :main, :output-name "main.js", :entries [tetris.app], :depends-on nil, :sources ["goog/base.js" "goog/debug/error.js" "goog/dom/nodetype.js" "goog/asserts/asserts.js" "goog/reflect/reflect.js" "goog/math/long.js" "goog/math/integer.js" "goog/string/internal.js" "goog/string/string.js" "goog/object/object.js" "goog/array/array.js" "goog/structs/structs.js" "goog/functions/functions.js" "goog/math/math.js" "goog/iter/iter.js" "goog/structs/map.js" "goog/uri/utils.js" "goog/uri/uri.js" "goog/string/stringbuffer.js" "cljs/core.cljs" "clojure/string.cljs" "tetris/tetrominoes.cljs" "tetris/app.cljs" "shadow/module/main/append.js"]}]