html,
body {
  height: 100%;
  margin: 0;
  background-color: black;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;
}
